#listing table {
    border: none;
}
#listing th, td {
    padding-right: 25px;
    text-align: left;
}
#listing td {
    padding-left: 15px;
}
#listing th {
    border-bottom: 1px solid #ddd;
}
#listing tr:nth-child(even) {
    background-color: #f3f3f3;
}
header #nav {
    float: right;
}
header #link {
    color: inherit;
    text-decoration: none;
}
header #logo {
    text-shadow: 2px 2px 2px #AAA;
    font-size: 18pt;
    font-variant: small-caps;
}
footer {
    text-align: center;
}
html, body {
    font-family: helvetica,arial,sans-serif;
}

