{% extends 'CavTutor/generics/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body_block %}
    <h1> Welcome!</h1>

    I want to&hellip;
    <ol>
    	<li><a href="{% url 'tutor-create' %}">add myself as a tutor.</a></li>
    	<li><a href="{% url 'index' %}">find a tutor.</a></li>
    </ol>


    I want to view all&hellip;

    <ol>
    {% for model in models %}
        <li> <a href="{{ model }}">{{ model }}</a></li>
    {% endfor %}
    </ol>

    in the system.
{% endblock %}
