{% extends 'CavTutor/generics/generic-list.html' %}

<!-- tell the parent template what sort of items we're giving it -->
{% block model %}
    Institution
{% endblock %}

<!-- stores our items as a list -->
{% block items %}
    <a href="{% url 'institution-create' %}">Create</a>

    <ol>
    {% for institution in institutions %}
        <li><a href="{% url 'institution-detail' inst_id=institution.id %}">{{ institution.name }}</a> ({{ institution.abbr }})</li>
    {% endfor %}
    </ol>
{% endblock %}
