{% extends 'CavTutor/generics/base.html' %}

{% block body_block %}
	<h1>{% block title %}User Login | CavTutor{% endblock %}</h1>

    {% if status == "incomplete" %}
        <p><strong> you need to give a query </strong></p>
    {% elif status == "incorrect" %}
        <p><strong> invalid query </strong></p>
    {% endif %}

    <p> Search:  </p>
    <div id="form-container" style="padding-bottom: 10px;">


        <form action="{% url 'search' %}" method="post" >

            {% csrf_token %}

            <!-- need to make error msg go on same line for all fields -->
            <table>
                {{ form.as_table }}
            </table>
           <input type="submit" value="Submit" />
        </form>
    </div>

    {% block items %}
    <ol>
    {% for res in results %}
        <li>{{ res }}</li>
    {% endfor %}
    </ol>
{% endblock %}

{% endblock %}
