{% extends 'CavTutor/generics/base.html' %}

{% block body_block %}
	<h1>{% block title %}Create New Account | CavTutor{% endblock %}</h1>

    {% if status == "incomplete" %}
        <p><strong> You didn't fill in everything or didn't fill it in correctly! </strong></p>
    {% elif status == "invalid" %}
        <p><strong> A user exists with that username and/or email already.</strong></p>
    {% endif %}

    <p> Please fill in the form with your information. Then you'll be all set to use our app! </p>

    <div id="form-container" style="padding-bottom: 10px;">
        <form action="{% url 'user-register' %}" method="post">
            {% csrf_token %}
            <!-- need to make error msg go on same line for all fields -->
            <table>
                {{ form.as_table }}
            </table>
           <input type="submit" value="Submit" />
        </form>
    </div>

    <div id="home-link">
        <a href="{% url 'index' %}">Go Home?</a>
    </div>
{% endblock %}
