<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %} | CavTutor Tutoring Marketplace</title>
    </head>

    <link rel="stylesheet" href="http://{{ request.META.SERVER_NAME }}:8081/static/css/style.css" />
    <body>
        <header>
            <span id="logo"><a href="/" id="link">CavTutor</a></span> &emsp; A Tutoring Marketplace
            <span id="nav">
                {% if __user__ %}
                    Hello, {{ __user__.f_name }}. <a href="{% url 'user-logout' %}">Logout?</a>

                {% else %}
                <a href="{% url 'user-login' %}?next={{request.path}}">Login</a> &nbsp;<b>&#8756;</b>&nbsp;
                    <a href="{% url 'user-register' %}">Create New Account</a>
                {% endif %}
            </span>
        </header>

        <hr />

        <!-- Main content staging area -->
        {% block body_block %}
        {% endblock %}

        <hr />

        <footer>
            &copy; {% now "Y" %} CavTutor
        </footer>
    </body>
</html>
